.main-container {
    display: grid;
    place-items: center;
    height: 100%;
}

.login-container {
    width: 100%;
    max-width: 400px;

    input {
        width: 100%;
    }

    .btn {
        width: 100%; 
        display: flex; 
        justify-content: center;
    }
}

.login-container h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login-container .error-message {
    color: #e53e3e;
    text-align: center;
    margin-top: 1rem;
}

/* Style for the Login Button */
.btn-login {
    width: 100%;
    background-color: #007bff; /* Default blue color */
    color: #fff;
}

/* Style for the Register Button */
.register-button {
    margin-top: 1rem; /* Space above the register button */
}

.btn-register {
    width: 100%;
    background-color: #28a745; /* Green color for register */
    color: #fff;
}
.error-message {
    color: #e53e3e; /* Red color for errors */
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  input.error {
    border: 1px solid red;
  }
  