<div class="main-container">
  <p-card class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p-floatLabel>
        <input id="email" pInputText formControlName="email" type="email" />
        <label for="email">Email</label>
      </p-floatLabel>
      <p-floatLabel>
        <input id="password" pInputText formControlName="password" type="password" />
        <label for="password">Password</label>
      </p-floatLabel>
        <!-- Display error message -->
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
    </div>
      <button pButton type="submit" label="Login" class="btn-login"></button>
    </form>

  

    <!-- Register Button -->
    <div class="register-button">
      <button pButton type="button" label="Register" class="btn-register" (click)="navigateToRegister()"></button>
    </div>
    
  </p-card>
</div>
